{%extends 'base.html'%}
{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'css/common.css' %}"> {% endblock %}

{% block title %}TheShoppingCArt | About{% endblock %}


{% block main %}

    <div class="flex-me">
        <section class="bg-grad mar" >
            <p class="pad">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum culpa possimus dicta beatae provident, nulla eum tenetur enim officiis consequuntur eligendi praesentium nobis. Porro ullam fuga, repellat exercitationem temporibus, voluptates sint amet odit, blanditiis voluptas reprehenderit explicabo. Doloribus, nobis, quis omnis veniam dignissimos natus soluta, nam nulla cum recusandae ratione! Reprehenderit accusantium eum consectetur vitae hic maiores ipsum illum iste cumque quibusdam quaerat corporis maxime quae libero et sequi ullam repellat, culpa nisi eaque quisquam voluptates aspernatur mollitia. Sed cum, vitae quaerat voluptates temporibus recusandae ipsa voluptatibus dolore. Itaque accusantium, unde laborum optio mollitia eveniet amet qui aut ratione? Vitae.</p>
        </section>
        <section class="bg-grad mar">
            <p class="pad">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus soluta reiciendis numquam modi repellat quas quis ullam fuga similique rerum, dolorum eveniet molestias, vel omnis nesciunt dolores. Nemo velit dolore nulla ad, vero accusantium dignissimos voluptates perferendis a eveniet ex neque earum illum consequuntur molestiae vitae harum doloremque? Numquam, soluta ipsa eligendi dolorum ducimus illum laboriosam sed maiores exercitationem at qui cumque rem error reiciendis nobis harum eveniet aut assumenda dolore. Beatae nobis id reprehenderit voluptatem porro reiciendis aperiam nesciunt, dicta assumenda aut odio ducimus molestiae quam ab ea in laboriosam placeat similique suscipit laudantium unde, explicabo cum. Commodi, incidunt!</p>
        </section>
        <section class="bg-grad mar">
            <p class="pad">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque optio consequatur architecto minus fugit nobis numquam! Doloremque quos, beatae eos fugiat quas itaque recusandae, voluptatibus perferendis nemo adipisci id eveniet, ab possimus. Quidem, quos optio laudantium perferendis in corrupti officia natus ducimus unde maiores enim suscipit vero, minus iste magni odit porro sunt, placeat officiis pariatur repellendus. Ea, eum sit. Nostrum recusandae, consequuntur, pariatur odio omnis temporibus impedit asperiores, libero doloribus provident necessitatibus sint quo modi magnam ipsam voluptatum commodi! Harum amet voluptas architecto possimus debitis porro eius voluptatibus quibusdam maiores. Voluptatem voluptates aliquid asperiores accusantium, quisquam vero, autem dicta molestias modi omnis expedita alias consequatur eum provident, beatae distinctio mollitia? Molestias hic voluptatibus nesciunt maxime adipisci inventore aspernatur quo.</p>
        </section>
    </div>

{% endblock %}
