{%extends 'base.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/track_prev.css' %}"> {% endblock %}
<!-- Add your css link here  -->

{% block title %}Track Order{% endblock %}
<!-- Add your title here -->

{% block main %}

<div class="track-main">
    {% if no_track %}

    <div class="no-order">
        <h2>You have no order to track.</h2>
    </div>

    {% else %}
    <!-- main tracking components here -->

    <div class="container-track">
        <h2>Your Previous Shopping's : </h2>
        <div id="t-info">
            <table>
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Transatction ID</th>
                        <th>Order Date</th>
                        <th>Shipping Date</th>
                        <th>Delivery Date</th>
                        <th>Invoice</th>
                        <th>Total Items Purchased</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{track_info.order_id}}</td>
                        <td>{{track_info.transaction_id}}</td>
                        <td>{{track_info.order_date}}</td>
                        <td>{{track_info.shipping_date}}</td>
                        <td>{{track_info.deliever_date}}</td>
                        <td>{{track_info.invoice}}</td>
                        <td>{{track_info.no_of_items}}</td>
                        <td>{{track_info.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    {% endif %}
</div>

{% endblock %}

{% block js %}
<script src="{% static 'script/cart.js' %}"></script>
{% endblock %}