#rzp-01 {
  margin: 1rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 500px;
}
#rzp-button1 {
  margin: 1rem;
  padding: 1rem;
  font-size: 1em;
  font-weight: 700;
  color: white;
  border-radius: 0.5em;
  border: none;
  background: -webkit-linear-gradient(to right, #0575e6, #00f260);
  background: linear-gradient(to right, #0575e6, #00f260);
}
#rzp-button1 :hover {
  background: -webkit-linear-gradient(to right, #409bf7, #4af08c);
  background: linear-gradient(to right, #2f95fc, #37f182);
}
