.cart {
  margin: 0.5em 1em;
  padding: 0.2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.c-head h2 {
  text-align: center;
  margin: 0.5em 1em;
  padding: 0.2em;
}

.c-head p{
    text-align: center;
    margin: 0.5em 1em;
    padding: 0.2em;
    font-size: 1.5rem;
}
.cart table {
  margin: 1em;
  margin-top: 0.1em;
  padding: 0.2em;
}

.cart thead tr th {
  margin: 0.5rem 1rem;
  padding: 0.5rem 4rem;
  border: 3px solid rgb(150, 150, 150);
}
.cart thead tr td {
  margin: 0.5rem 1rem;
  padding: 0.5rem 2rem;
}

.cart tr{
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
}


div > button {
  position: relative;
  right: -1300px;
  margin: 0.1em 0.5em;
  padding: 0.4em 0.5em;
  font-size: 1em;
  font-weight: 700;
  color: #eee;
  background-color: blue;
  border-radius: 0.3em;
  border: none;
}
div > button:hover {
  background-color: rgba(1, 1, 99, 0.9);
}
