<<<<<<< HEAD

.privacy{
    padding-top:40px;
    
    text-align: center;
=======
h3{
    text-align: center;
    padding-top:40px;
>>>>>>> master
}
section{
    padding:10px;
    padding-bottom: 40px;
}
section {
    max-width: 960px;
    margin:1.5em auto;
<<<<<<< HEAD
}
section p{
    font-size: 14px;
    padding-top:5px;
}
section h4{
    line-height: 2.5;
}
=======
    padding-bottom: 40px;
}
section h4{
    line-height: 2.56em;
}
section p{
    padding-top:10px;
    font-size: 14px;
}
>>>>>>> master
