{%extends 'base.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}"> {% endblock %}
<!-- Add your css link here  -->

{% block title %}CArt{% endblock %}
<!-- Add your title here -->

{% block main %}

    <div class="c-head">
        <h2>Cart Items</h2>
        <p>Total Quantity: {{total_qty}} &emsp; Total Price: &#8377;{{invoice}}</p>
    </div>

    <div class="cart">
        <table>
            <thead>
                <tr>
                    <th>&emsp;Item&emsp;</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart  %}
                <tr>
                    <td><img height="100px" width="100px" src="{{ item.product.image.url}}" alt="IMG"></td>
                    <td>{{item.product.name}}</td>
                    <td>{{item.product.price}}</td>
                    <td>
                        {% if item  %}
                        <button data-product="{{item.product.pk}}" data-action="remove" class="cart-btn update-cart">-</button>
                        {{item.quantity}}&ensp;
                        <button data-product="{{item.product.pk}}" data-action="add" class="cart-btn 
                        update-cart">+</button>
                        {% endif %}
                    </td>
                    <td>{{item.total}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div id="btn09">
            <a href="{% url 'checkout' %}">Checkout</a>
        </div>

    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'script/cart.js' %}"></script>
{% endblock %}