{%extends 'base.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}"> {% endblock %}

{% block title %}Seller | DASHBOARD{% endblock %}

{% block main %}

    <div class="dashboard">
        <div class="panel">
            <h2>SHOP ADMINISTRATION DASHBOARD</h2>
        </div>
        <section id="left01" class="flex-me">
            <div class="img01">
                <img src="{{seller.image.url}}" alt="IMG">
            </div>
            <h3>Hello, {{user.username}}</h3>
        </section>

        <section id="left02" class="flex-me">
            <h3>Summary</h3>
        </section>

        <section id="left03" class="flex-me">
            <h3>Actions</h3>
            <a href="{% url 'addproduct' %}" class="dash-btn">Add</a>
            <a href="" class="dash-btn">Delete</a>
            <a href="" class="dash-btn">Update</a>
            <a href="" class="dash-btn">Retrieve</a>
        </section>

        <section id="right01">
            <h3>Product Information</h3>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Stock</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Category</th>
                        <th>Subcategory</th>
                        <th>Year</th>
                        <th>Type</th>
                        <th>Season</th>
                    </tr>
                </thead>
                <br>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{product.product_id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.image}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.stock}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.discount}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.subcategory}}</td>
                        <td>{{product.year}}</td>
                        <td>{{product.type_choice}}</td>
                        <td>{{product.seasons}}</td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        </section>

{% endblock %}

{% block js %}
<!-- Add your inline javascript here  -->
{% endblock%}