{%extends 'base.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %}
<!-- Add your css link here  -->

{% block title %}TheShoppingCArt{% endblock %}
<!-- Add your title here -->


{% block nav %}

<nav class="nav2">
    <ul>
        <li><a href="{% url 'products_electronics' %}">Electronics</a></li>
        <li><a href="{% url 'product_tv_appliances' %}">TV & Appliances</a></li>
        <li><a href="{% url 'products_men' %}">Men</a></li>
        <li><a href="{% url 'products_women' %}">Womens</a></li>
        <li><a href="{% url 'products_kids' %}">Baby & Kids</a></li>
        <li><a href="{% url 'products_pc' %}">Computers</a></li>
        <li><a href="{% url 'products_phones' %}">Phones & Tablets</a></li>
        <li><a href="{% url 'products_books' %}">Books</a></li>
        <li><a href="{% url 'products_accessories' %}">Accessories</a></li>
    </ul>
</nav>

{% endblock %}

{% block main %}

<!-- ****************CAROUSEL********************* -->
<div class="carousel">

    <div class="prev-btn">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>

    <div class="slides-container">

        <div class="slide-image">
            <img src="../static/img_carousal_1.jpg" alt="">
        </div>
        <div class="slide-image">
            <img src="../static/img_carousal_1.jpg" alt="">
        </div>
        <div class="slide-image">
            <img src="../static/img_carousal_1.jpg" alt="">
        </div>

    </div>

    <div class="next-btn">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
</div>

<!-- ****************PRODUCTS**************** -->
<div class="container">

    <h2>{{category}}</h2>
    <div class="items">

        {% for product in products %}
        <div class="item">
            <p><img height="150px" width="150" src="{{product.image.url}}" alt="product"></p>
            <p class="prod-font">{{product.name}}</p>
            <p class="prod-font">{{product.subcategory}}</p>
            <p class="prod-font">{{product.description|slice:":30"}}<strong> . . .</strong></p>
            <p class="prod-font">&#8377; {{product.price}}</p>
            <p class="prod-font"><a href="/product/{{product.pk}}">View Details<b> . . .</b></a>&nbsp;
                <button data-product="{{product.pk}}" data-action="add" class="cart-btn update-cart"> Add to
                    Cart</button>
            </p>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}

{% block js %}
<script src="{% static 'script/main.js' %}"></script>
{% endblock%}