{%extends 'base.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %}
<!-- Add your css link here  -->

{% block title %}TheShoppingCArt{% endblock %}
<!-- Add your title here -->


{% block nav %}

<nav class="nav2">
    <ul>
        <li><a href="{% url 'products_electronics' %}">Electronics</a></li>
        <li><a href="{% url 'product_tv_appliances' %}">TV & Appliances</a></li>
        <li><a href="{% url 'products_men' %}">Men</a></li>
        <li><a href="{% url 'products_women' %}">Womens</a></li>
        <li><a href="{% url 'products_kids' %}">Baby & Kids</a></li>
        <li><a href="{% url 'products_pc' %}">Computers</a></li>
        <li><a href="{% url 'products_phones' %}">Phones & Tablets</a></li>
        <li><a href="{% url 'products_books' %}">Books</a></li>
        <li><a href="{% url 'products_accessories' %}">Accessories</a></li>
    </ul>
</nav>

{% endblock %}

{% block main %}

<!-- ****************CAROUSEL********************* -->
<div class="carousel">

    <div class="prev-btn" onclick="sliding(-1)">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>

    <div class="slides-container">

        <div class="slide-image">
            <img src="../static/img_carousal_1.jpg" alt="">
        </div>
        <div class="slide-image">
            <img src="../static/img_carousal_2.jpg" alt="">
        </div>
        <div class="slide-image">
            <img src="../static/img_carousal_3.jpg" alt="">
        </div>
        <div class="slide-image">
            <img src="../static/img_carousal_4.jpg" alt="">
        </div>
        <div class="slide-image">
            <img src="../static/img_carousal_5.jpg" alt="">
        </div>

    </div>

    <div class="next-btn" onclick="sliding(1)">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
</div>

<!-- ****************PRODUCTS**************** -->
<div class="container">

    <h2>New Arrivals</h2>
    <div class="items">

        {% for product in products %}
        <div class="item">
            <p><img height="150px" width="150" src="{{product.image.url}}" alt="product"></p>
            <p class="prod-font">{{product.name}}</p>
            <p class="prod-font">{{product.subcategory}}</p>
            <p class="prod-font">{{product.description|slice:":30"}}<strong> . . .</strong></p>
            <p class="prod-font">&#8377; {{product.price}}</p>
            <p class="prod-font"><a href="/product/{{product.pk}}">View Details<b> . . .</b></a>&nbsp;
                <button data-product="{{product.pk}}" data-action="add" class="cart-btn update-cart"> Add to Cart</button>
            </p>
        </div>
        {% endfor %}

        <div>
            <p>
                <button class="load-more-btn">Load more...</button>
            </p>
        </div>
    </div>

</div>


<div class="container">

    <h2>Trending</h2>
    <div class="items">
    
        {% for product in products %}
        <div class="item">
            <p><img height="150px" width="150" src="{{product.image.url}}" alt="product"></p>
            <p class="prod-font">{{product.name}}</p>
            <p class="prod-font">{{product.subcategory}}</p>
            <p class="prod-font">{{product.description|slice:":30"}}<strong> . . .</strong></p>
            <p class="prod-font">&#8377; {{product.price}}</p>
            <p class="prod-font"><a href="/product/{{product.pk}}">View Details<b> . . .</b></a>&nbsp;
                <button data-product="{{product.pk}}" data-action="add" class="cart-btn update-cart"> Add to Cart</button>
            </p>
        </div>
        {% endfor %}
    
        <div>
            <p>
                <button class="load-more-btn">Load more...</button>
            </p>
        </div>
    </div>

</div>

<div class="container">

    <h2>Party Wear</h2>
    <div class="items">

        {% for product in products %}
        <div class="item">
            <p><img height="150px" width="150" src="{{product.image.url}}" alt="product"></p>
            <p class="prod-font">{{product.name}}</p>
            <p class="prod-font">{{product.subcategory}}</p>
            <p class="prod-font">{{product.description|slice:":30"}}<strong> . . .</strong></p>
            <p class="prod-font">&#8377; {{product.price}}</p>
            <p class="prod-font"><a href="/product/{{product.pk}}">View Details<b> . . .</b></a>&nbsp;
                <button data-product="{{product.pk}}" data-action="add" class="cart-btn update-cart"> Add to Cart</button>
            </p>
        </div>
        {% endfor %}

        <div>
            <p>
                <button class="load-more-btn">Load more...</button>
            </p>
        </div>
    </div>

</div>

{% endblock %}

{% block js %}
<script src="{% static 'script/main.js' %}"></script>
<script>
    console.log("This is slider");

        var current = 0;
        var slides = document.getElementsByClassName("slide-image");
        var n = slides.length;
        var prev = -1;
        function displayNone() {
            for (var i = 0; i < n; i++) slides[i].style.display = "none";
        }
        function display() {
            if (prev > -1) {
                slides[prev].style.display = "none";
            }
            slides[current].style.display = "block";
        }
        function sliding(val) {
            prev = current;
            current += val;

            if (current > n - 1) {
                current = 0;
                prev = n - 1;
            } else if (current < 0) {
                current = n - 1;
                prev = 0;
            }

            display();
        }
        function automateSliding() {
            sliding(1);
        }
        displayNone();
        display();
        setInterval(automateSliding, 7000);

</script>
{% endblock%}