{%extends 'base.html'%}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endblock %}
<!-- Add your css link here  -->

{% block title %}Login{% endblock %}
<!-- Add your title here -->

{% block main %}

    <div class="login01">
    
        <form method="POST" action="Login" class="form02">
            {% csrf_token %}
            <h2 class="h02">Registered User Login here : </h2>
    
            {% for field in form %}
            <div>
                <label for="{{field.id_for_label}}">{{field.name.label}}</label>
                {{field.name}} : {{field}}
    
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
    
                {% endfor %}
            </div>
            {% endfor %}
            <button class="btn01" type="submit">Login</button>
            <div class="div01">
                <p>New User<a class="tag001" href="{% url 'signup' %}"> Register here</a> </p>
            </div>
        </form>

{% endblock %}

{% block js %}
<script>
    var attr = document.getElementsByTagName("main");
    attr[0].style.height = "67vh";
</script>
{% endblock %}