{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/payment.css' %}"> {% endblock %}

{% block title %}Payment{% endblock %}

{% block main %}

    <div class="pay-grid">
        
        <section id="left-09">
            <h2>Choose a payment method : </h2>
            <div class="flex-me">
                <h3><a class="a-09" href="">PayTm</a></h3>
                <h3><a class="a-09" href="">PhonePe</a></h3>
                <h3><a class="a-09" href="">GooglePay</a></h3>
                <h3><a class="a-09" href="{% url 'razorpay' %}">RazorPay</a></h3>
            </div>
        </section>

        <section id="right-09">
            <h2>Payment Info</h2>
            <div class="flex-me">
                <h1>TO PAY</h1>
                <h1>&#8377; {{request.session.billed_amount}}</h1>
                <h3><label for="">{{amount_words}} Rupees Only.</label></h3>
            </div>
        </section>

    </div>
{% endblock %}
