{%extends 'base.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %}
<!-- Add your css link here  -->

{% block title %}TheShoppingCArt{% endblock %}
<!-- Add your title here -->>

{% block main %}

    <div class="view01">
        <div>
            <img height="640px" width="480" src="{{product.image.url}}" alt="product">
        </div>
        <div>
            <p class="prod-font01"><strong>{{product.name}} <span class="badge">{{product.rating}}&nbsp;<i class="fa fa-star" aria-hidden="true" style="font-size:10px;color:yellow"></i>&nbsp;ratings</i></span></strong></p>
            <p class="prod-font01">{{product.category}}</p>
            <p class="prod-font01">{{product.subcategory}}</p>
            <p class="prod-font01">{{product.description}}</p>
            <p class="prod-font01">{{product.stock}}</p>
            <p class="prod-font01">{{product.year}}</p>
            <p class="prod-font01">{{product.model}}</p>
            <p class="prod-font01">&#8377; {{product.price}}</p>
            <p><button data-product="{{product.pk}}" data-action="add" class="cart-btn update-cart"> Add to Cart</button></p>
        </div>
    </div>

{% endblock %}
